# Future C files Folder/Files
*Makefile

# Future Rust Folder/Files
*binary_search.rs
rust/tests/algorithms
rust/src/tests/algorithms

# Think files
*scratch*
*notes*

# Binary files 
build/
*target
*algorithm_statistics.md